<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>ROMAIZAN JEWElLLERY</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <ion-button fill="clear">
        <ion-icon slot="icon-only" name="color-palette-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button> -->
      <ion-button fill="clear" (click)="openPopover($event)">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>

      <!-- Popover component -->
      <ion-popover [isOpen]="popoverOpen" [event]="popoverEvent" (ionPopoverDidDismiss)="popoverOpen = false" [dismissOnSelect]="true">
        <ng-template>
          <ion-list>
            <!-- <ion-item (click)="selectOption('profile')">Profile</ion-item>
            <ion-item (click)="selectOption('settings')">Settings</ion-item> -->
            <ion-item (click)="selectOption('logout')" style="cursor:pointer;">Logout</ion-item>
            <ion-item (click)="goToChangePassword()" style="cursor:pointer;">Change Password</ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>



    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button expand="block" style="--background: var(--ion-color-custom-primary);">
      <ion-icon name="add-outline"></ion-icon> New
    </ion-button>   
    <ion-button expand="block" style="--background: var(--ion-color-custom-success);">
      <ion-icon name="save-outline" (click)="getReport()"></ion-icon> Save
    </ion-button>   
    <ion-button expand="block" style="--background: var(--ion-color-custom-primary);">
      <ion-icon name="list-outline"></ion-icon> List
    </ion-button>   
  </ion-buttons>
</ion-toolbar> -->
<ion-content>
  <ion-card no-margin style="width: 90%; margin-left:5%; margin-top: 100px;">
    <ion-card-header>
      <ion-card-subtitle><b>Attendance Summary </b></ion-card-subtitle>
    </ion-card-header>
    <ion-grid fixed [formGroup]="SummeryFromGroup">
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label color="primary" position="stacked">
              <ion-icon name="calendar"></ion-icon>
              From Date
            </ion-label>
            <ion-input type="date" formControlName='FromDate' placeholder="Select Date" id="dateInput">
            </ion-input>
            <ion-icon name="calendar-outline" slot="end"></ion-icon>
          </ion-item>
          <!-- <ion-item>
            <ion-label color="primary" position="stacked">
              <ion-icon name="calendar"></ion-icon>
              From Date
            </ion-label>
            <ion-input placeholder="Select Date" readonly></ion-input>
            <ion-icon name="calendar-outline" slot="end"></ion-icon>
          </ion-item> -->
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label color="primary" position="stacked">
              <ion-icon name="calendar"></ion-icon>
              To Date
            </ion-label>
            <ion-input type="date" formControlName='ToDate' placeholder="Select Date" id="dateInput">
            </ion-input>
            <ion-icon name="calendar-outline" slot="end"></ion-icon>
          </ion-item>

        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-md="4">
        </ion-col>
        <ion-col size="12" size-md="3">
          <ion-button expand="block" (click)="getReport()" id="open-custom-dialog"
            style="--background: var(--ion-color-custom-primary);">
            <ion-icon name="list-outline"></ion-icon> List
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
<!-- 
<ion-modal id="example-modal" #modal trigger="open-custom-dialog">
  <ng-template>
    <div class="wrapper">
      <h1>Details</h1>
      <table class="ion-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Mode</th>
            <th>Time</th>
           </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ListData">
            <td>{{ item?.punchDate | date }}</td>
            <td>{{ item?.punchMode == 'true' ? 'CheckOut' : 'CheckIn' }}</td>
            <td>{{ item?.punchTime }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let item of ListData">
            <td>{{ item?.punchDate | date }}</td>
            <td>{{ item?.punchMode == true ? 'CheckOut' : 'CheckIn' }}</td>
            <td>{{ item?.punchTime }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</ion-modal> -->

<!-- <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
  <ion-content>
    <ng-template>
      <div class="wrapper">
        <div class="modal-header">
          <h1 class="header-title">Details</h1>
          <ion-button fill="clear" class="close-button" (click)="modal.dismiss()">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </div>        
        <div class="table-container">
          <table class="ion-table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Mode</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ListData">
                <td>{{ item?.punchDate | date }}</td>
                <td>{{ item?.punchMode == 'true' ? 'CheckOut' : 'CheckIn' }}</td>
                <td>{{ item?.punchTime }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </ion-content>
</ion-modal> -->

<ion-modal id="example-modal" #modal trigger="open-custom-dialog">
  <ion-content>
    <ng-template>
      <div class="wrapper">
        <!-- Modal Header -->
        <div class="modal-header">
          <h1 class="header-title">Details</h1>
          <ion-button fill="clear" class="close-button" (click)="modal.dismiss()">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </div>

        <!-- Table Container -->
        <div class="table-container">
          <table class="ion-table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Mode</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ListData">
                <td>{{ item?.punchDate | date }}</td>
                <td>{{ item?.punchMode == true ? 'CheckOut' : 'CheckIn' }}</td>
                <td>{{ item?.punchTime }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </ion-content>
</ion-modal>
