<ion-header>
    <div  class="mydiv" style=" height: 45px; background-color: #015796;"></div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>ROMAIZAN JEWELLERY</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <ion-button fill="clear">
        <ion-icon slot="icon-only" name="color-palette-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button> -->
      <ion-button fill="clear" (click)="openPopover($event)">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>




      <!-- Popover component -->
      <ion-popover [isOpen]="popoverOpen" [event]="popoverEvent" (ionPopoverDidDismiss)="popoverOpen = false"
        [dismissOnSelect]="true">
        <ng-template>
          <ion-list>
            <!-- <ion-item (click)="selectOption('profile')">Profile</ion-item>
            <ion-item (click)="selectOption('settings')">Settings</ion-item> -->
            <ion-item (click)="selectOption('logout')" style="cursor:pointer;">Logout</ion-item>
            <ion-item (click)="goToChangePassword()" style="cursor:pointer;">Change Password</ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="setOpen(true)">List</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card class="leave-card" [formGroup]="leaveEntryFromGroup">
    <ion-card-header>
          <!-- <div   class="mydiv" style=" height: 45px; background-color: #015796;"></div> -->

      <ion-card-title class="text-center">
        <b>Leave Entry</b>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item lines="full">
              <ion-label position="floating" color="primary">From Date</ion-label>
              <ion-input type="date" formControlName="fromDate"></ion-input>
              <ion-icon name="calendar-outline" slot="end"></ion-icon>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-md="6">
            <ion-item lines="full">
              <ion-label position="floating" color="primary">To Date</ion-label>
              <ion-input type="date" formControlName="toDate"></ion-input>
              <ion-icon name="calendar-outline" slot="end"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>

          <ion-col size="12" size-md="6">
            <ion-item lines="inset" class="leave-type-item">
              <ion-label position="floating" color="primary">Leave Type</ion-label>
              <ion-select formControlName="leaveType" interface="alert">
                <ion-select-option *ngFor="let type of leavetypeList" [value]="type.value">
                  {{ type.label }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>


        </ion-row>
        <ion-row>
          <ion-col size="12" size-md="12">
            <ion-item lines="full">
              <ion-label position="floating" color="primary">Remarks</ion-label>
              <ion-input type="text" formControlName="remarks"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-margin-top">
          <ion-col size="12" size-md="4">
            <ion-button [disabled]="leaveEntryFromGroup.invalid" expand="block" color="primary" (click)="submit()">
              Submit
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
          <div  class="mydiv" style=" height: 45px; background-color: #015796;"></div>
      <ion-toolbar>
        <ion-title>Leave Entry</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
      <div class="table-wrapper">
        <div class="table-header">
          <h2><ion-icon name="calendar-outline"></ion-icon></h2>
        </div>

        <div class="table-responsive">
          <table class="styled-table">
            <thead>
              <tr>
                <th>#</th>
                <th>From</th>
                <th>To</th>
                <th>Type</th>
                <th>Status</th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let leave of leaves; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ leave.leaveDataFrom | date: 'MMM d, y' }}</td>
                <td>{{ leave.leaveDataTo | date: 'MMM d, y' }}</td>
                <td>{{ getleaveTypeById(leave.leaveDataType) }}</td>
                <td [ngStyle]="{ 'color': leave.status == 1 ? 'green' : (leave.status == 2 ? 'red' : 'black')}">{{
                  leave.status == 1 ? 'Approved' : (leave.status == 2 ? 'Rejected' : 'Pending') }}</td>
                <td>
                  <button *ngIf="leave.status == 0" class="custom-delete-button" (click)="onDelete(leave.leavDataId)"
                    title="Delete this record">
                    🗑 Delete
                  </button>
                </td>


              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ion-content>






  </ng-template>
</ion-modal>