// .login-page {
//     --background: linear-gradient(45deg, #4facfe 0%, #00f2fe 100%);
//   }
  
//   .login-wrapper {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     padding: 20px;
//   }
  
//   .login-card {
//     width: 100%;
//     max-width: 400px;
//     border-radius: 15px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//     overflow: hidden;
//   }
  
//   .text-center {
//     text-align: center;
//     font-size: 1.5em;
//     color: #333;
//   }
  
//   .login-button {
//     margin-top: 20px;
//     border-radius: 20px;
//     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
//   }
  
//   .signup-link {
//     text-align: center;
//     margin-top: 10px;
//   }
  
//   .signup-link a {
//     color: #007bff;
//     text-decoration: none;
//   }
h1{
  text-align: center;
}
  .grid1 {
    height: 100%;
    padding: 0px;
}

// .contaier-login {
//       margin-left: 5%;
//      width: 60%;
//      margin-top: 10%;
//     padding: 50px;
//      background: #FFFFFF;
//     border-radius: 5px;
//     -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
//     -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
//     box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
// }


.row1 {
    height: 55%;
    background: -moz-linear-gradient(45deg, rgba(1, 87, 150, 1) 0%, rgba(1, 87, 150, 0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgba(1, 87, 150, 1) 0%, rgba(1, 87, 150, 0.8) 100%);
    background: linear-gradient(45deg, rgba(1, 87, 150, 1) 0%, rgba(1, 87, 150, 0.8) 100%);
}

.row2 {
    height: 45%;
}

ion-icon {
    margin-right: 15px;
}

ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
}

ion-slide {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0px !important;
}
.container-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: #ffffff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 348px;
  margin-top: 115px;
}

.icon-login {
  font-size: 20px;
  color: #3880ff;
  height: 40px;
}
.ion-margin-top{
  margin-top: 30px;
}
 
 .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.img-container img {
  width: 120px;
  height: auto;
}
