<!-- <ion-content [fullscreen]="true">
  <ion-content class="login-page"  [formGroup]='loginForm'>
    <div class="login-wrapper">
      <ion-card class="login-card">
        <ion-card-header>
          <ion-card-title class="text-center">Welcome Back!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">UserName</ion-label>
            <ion-input type="email" formControlName='Username'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password"  formControlName="Password" ></ion-input>
          </ion-item>
          <ion-button expand="block" class="login-button" [disabled]="loginForm.invalid" color="primary" (click)="onLogin()">
           <span *ngIf="!isLoading">Login</span> 
            <ion-spinner *ngIf="isLoading"></ion-spinner>
          </ion-button>
          
          
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
  
</ion-content> -->


<ion-content>

  <ion-grid class="grid1">
    <ion-row class="row1">
      <ion-col class="img-container">
        <img src="assets/img/logiin.png" alt="Logo" />
      </ion-col>
    </ion-row>

    <!-- <ion-row class="row1">
        <ion-col>

        </ion-col>
    </ion-row> -->

    <ion-row class="row2">
      <ion-col>

      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-slide>
    <div class="container-login">
      <ion-grid [formGroup]='loginForm'>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-sm="10" size-md="8" size-lg="8" size-xl="6">
            <div class="login-box">
              <h1 class="ion-text-center">Login</h1>
              <ion-list>
                <ion-item>
                  <ion-icon name="person" slot="start" class="icon-login"></ion-icon>
                  <ion-input name="user" type="text" formControlName='Username' placeholder="User Name"
                    required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-icon name="lock-closed" slot="start" class="icon-login"></ion-icon>
                  <ion-input name="password" type="password" formControlName="Password" placeholder="Password"
                    required></ion-input>
                </ion-item>
              </ion-list>
        


              <ion-button type="submit" [disabled]="loginForm.invalid" (click)="onLogin()" expand="block"
                class="ion-margin-top">
                <span *ngIf="!isLoading">Login</span>
                <ion-spinner *ngIf="isLoading"></ion-spinner>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-slide>