
<ion-header>
      <div   class="mydiv" style=" height: 45px; background-color: #015796;"></div>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>ROMAIZAN JEWELLERY</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <ion-button fill="clear">
        <ion-icon slot="icon-only" name="color-palette-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button> -->
      <ion-button fill="clear" (click)="openPopover($event)">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>

      <!-- Popover component -->
      <ion-popover [isOpen]="popoverOpen" [event]="popoverEvent" (ionPopoverDisDismiss)="popoverOpen = false" [dismissOnSelect]="true">
        <ng-template>
          <ion-list>
            <!-- <ion-item (click)="selectOption('profile')">Profile</ion-item>
            <ion-item (click)="selectOption('settings')">Settings</ion-item> -->
            <ion-item (click)="selectOption('logout')" style="cursor:pointer;">Logout</ion-item>
            <!-- <ion-item (click)="goToChangePassword()" style="cursor:pointer;">Change Password</ion-item> -->
          </ion-list>
        </ng-template>
      </ion-popover>



    </ion-buttons>
  </ion-toolbar>
</ion-header>

 
  <div class="container-login">
    <ion-grid  [formGroup]='ChangePasswordForm'>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-sm="10" size-md="8" size-lg="8" size-xl="6">
          <div class="login-box">
            <h1 class="ion-text-center">Change Password</h1>
            <ion-list>
       <ion-item>
  <ion-input [type]="showPassword ? 'text' : 'password'" 
  formControlName="NewPassword" placeholder="New Password" required
></ion-input>

  <ion-icon
    [name]="showPassword ? 'eye-off' : 'eye'"
    slot="end"
    class="icon-login"
    (click)="togglePasswordVisibility()"
  ></ion-icon>
</ion-item>

               <ion-item>
  <ion-input [type]="Password ? 'text' : 'password'" 
  formControlName="RepeatPassword" placeholder="New Password" required
></ion-input>

  <ion-icon
    [name]="Password ? 'eye-off' : 'eye'"
    slot="end"
    class="icon-login"
    (click)="showtogglePassword()"
  ></ion-icon>
</ion-item>

              <ion-text color="danger" *ngIf="ChangePasswordForm.hasError('passwordMismatch') && ChangePasswordForm.touched">
                <p class="ion-padding-start">Passwords do not match</p>
                 </ion-text>
            </ion-list>
            <ion-button type="submit"[disabled]="ChangePasswordForm.invalid"   expand="block" class="ion-margin-top" (click)="ResetPassword()">
               <span *ngIf="!isLoading">Submit</span>
                <ion-spinner *ngIf="isLoading"></ion-spinner>
             </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
 
