<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>ROMAIZAN JEWElLLERY</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <ion-button fill="clear">
        <ion-icon slot="icon-only" name="color-palette-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button> -->
      <ion-button fill="clear" (click)="openPopover($event)">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>




      <!-- Popover component -->
      <ion-popover [isOpen]="popoverOpen" [event]="popoverEvent" (ionPopoverDidDismiss)="popoverOpen = false"
        [dismissOnSelect]="true">
        <ng-template>
          <ion-list>
            <!-- <ion-item (click)="selectOption('profile')">Profile</ion-item>
            <ion-item (click)="selectOption('settings')">Settings</ion-item> -->
            <ion-item (click)="selectOption('logout')" style="cursor:pointer;">Logout</ion-item>
            <ion-item (click)="goToChangePassword()" style="cursor:pointer;">Change Password</ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="map-container">
  <ion-card no-margin>
    <ion-card-header>
      <ion-card-title><b>Attendance Summary </b></ion-card-title>
      <p><strong>Latitude:</strong> {{ markerPosition.lat }}</p>
      <p><strong>Longitude:</strong> {{ markerPosition.lng }}</p>

      <!-- <google-map 
    height="400px"
    width="100%"
    [center]="center"
    [zoom]="zoom"
    (mapClick)="updateMarkerPosition($event)">
    <map-marker [position]="markerPosition"></map-marker>
  </google-map> -->
      <div style="height: 400px; width: 100%;">
        <google-map [height]="'100%'" [width]="'100%'" [center]="center" [zoom]="zoom"
          (mapClick)="updateMarkerPosition($event)">
          <map-marker [position]="markerPosition"></map-marker>
        </google-map>
      </div>

    </ion-card-header>
  </ion-card>

</div>